:root{
    --main-color: #eebf00;
    --secodary-color: #232b38;
    --first:#ececec;
    --thecend:#fff;
    
}
*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    box-sizing: border-box;
        
}
nav .down-nav ul li:nth-of-type(1):hover{
    background-color: var(--main-color);
}
nav .down-nav ul li:nth-of-type(1){
    background-color: transparent;
}
nav .down-nav ul li:nth-of-type(4){
    background-color: var(--main-color);
   
}

nav .top-nav .right > div:nth-last-of-type(1) .car .grandPapa{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
nav .top-nav .right > div:nth-last-of-type(1) .car .grandPapa #papa #finnaliy .fa-trash:active{
    font-size: 25px;
}
nav .top-nav .right > div:nth-last-of-type(1) .car .grandPapa #papa{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    padding: 10px;
    gap: 10px;
    background-color:#898989;
    margin: 0 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav .top-nav .right > div:nth-last-of-type(1) .car #photo img{
    width: 100%;
    height: 100%;
}
nav .top-nav .right > div:nth-last-of-type(1) .car #photo{
    width: 100px;
    height: 90px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    
}

#midd p{
    color: var(--main-color);
}
#midd b{
    color: green;
}
#midd{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items:center;
    justify-content: center;
    color: var(--secodary-color);
    width: 40%;
}
#finnaliy button{
    border: none;
    width: 20px;
    height: 20px;
    background-color: var(--secodary-color);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-trash:hover{
    
    color: red;
}
#finnaliy{
    display: flex;
    gap: 10px;
}
.fa-circle-xmark:hover{
    color: red;
}
.fa-circle-xmark{
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.5s;
}
nav .top-nav .right > div:nth-last-of-type(1) .car  #pprice{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
nav .top-nav .right > div:nth-last-of-type(1) .car #pprice p::after{
    content: "";
    position: absolute;
    width: 95%;
    margin: auto;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 10px;
}
nav .top-nav .right > div:nth-last-of-type(1) .car strong{
    font-size: 30px;
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: auto;
}
nav .top-nav .right > div:nth-last-of-type(1) .car{
    position: fixed;
    width: 40vh;
    right: -150%;
    top: 0;
    height: 100vh;
    background-color: var(--secodary-color);
    border: 3px solid var(--main-color);
    z-index: 500;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    padding: 0 5px;
    overflow: auto;

}
section{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    background-color: #fff;
    flex-wrap: wrap;
}
section .container2{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}.sec-titlel{
    
    margin: auto;

    font-size: 45px;
    font-style: italic;
    position:relative;
    text-transform: uppercase;
}
.sec-titlel::after{
    content: "";
    position: absolute;
    bottom: -80%;
    right: 0%;
    transform: translatez(-50%);
    background: url(../icons/hr.svg) center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 40px;
    }
    
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 100%;
        margin: auto;
        gap: 13px;
    }
section .father .cart{
    width: calc((100% - 40px) / 3 );
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
    height: 450px;

}
section  .father .cart .im{
    width: auto;
    height: 65%;
    overflow: hidden;
}
section .father .cart .im img{
    width: 100%;
    height:100%;
    transition: 0.5s;
}
section  .father .cart .im img:hover{
    transform: scale(1.3);
}
section  .father .cart .detailes{
    width: 100%;
    height: 35%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    overflow: hidden;
    gap: 10px;
    box-sizing: border-box;
}
section .father .cart .detailes b{
    font-size: 18px;
    /* height:calc( 100% /3); */
    transition: 0.5s;
    
}
section  .father .cart .detailes p{
    font-size: 18px;
    font-weight: 500;
    /* height:calc( 100% /3); */
    transition: 0.5s;
}
section  .father .cart .detailes button{
    /* height:calc( 100% /3); */
    border: none;
    border-radius: 8px;
    background-color: var(--secodary-color);
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    padding: 10px;
    width: 70%;
    margin: auto;
}
section .father .cart:hover .detailes b{
    color: var(--main-color);
    font-weight: 700;

}
section .father .cart:hover .detailes p{
    color: green;
    font-weight: 700;
}
section  .father .cart:hover .detailes button{
    background-color: var(--main-color);
}
section  .father .cart .detailes button:hover{
    outline: 2px solid orange;
}
section  .father .cart .detailes button:active{
    letter-spacing: 0.7mm;
    outline-offset: 2px;

}
@media(max-width:1000px){
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 100%;
        margin: auto;
        gap: 13px;
    }
section .father .cart{
    /* padding-top: 50px; */
    width: calc((100% - 40px) / 3);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* width: 300px; */
    flex-direction: column;
    height: 450px;

}
section{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    
    background-color: #fff;
    flex-wrap: wrap;
}
}
@media(max-width:950px){
    section .father .cart{
        /* padding-top: 50px; */
        width: calc((100% - 40px) / 2);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* width: 300px; */
        flex-direction: column;
        height: 450px;
    
    }
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 98%;
        margin: auto;
        gap: 13px;
    }
    section{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        
        background-color: #fff;
        flex-wrap: wrap;
    }
}
@media(max-width:750px){
    section .father .cart{
        /* padding-top: 50px; */
        width: calc((100% - 40px) / 2);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* width: 300px; */
        flex-direction: column;
        height: 450px;
    
    }
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 98%;
        margin: auto;
        gap: 13px;
    }
    section{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        
        background-color: #fff;
        flex-wrap: wrap;
    }
}
/* @media(max-width:650px){ */
/* }.sec-titlel{
    
    margin: auto;

    font-size: 30px;
    font-style: italic;
    position:relative;
    text-transform: uppercase;
} */
    /* section .father .cart{
      
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
        flex-direction: column;
        height: 450px;
    
    }
    .father {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 98%;
        margin: auto;
        gap: 13px;
    } */
    /* section{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        
        background-color: #fff;
        flex-wrap: wrap;
    } */

@media(max-width:600px){
.sec-titlel{
    
    margin: auto;

    font-size: 30px;
    font-style: italic;
    position:relative;
    text-transform: uppercase;
}
    section .father .cart{
        /* padding-top: 50px; */
        width: calc((100% - 40px) / 1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* width: 300px; */
        flex-direction: column;
        height: 450px;
    
    }
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        width: 98%;
        margin: auto;
        gap: 13px;
    }
    section{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
        width: 100%;
        box-sizing: border-box;
        padding: 80px;
        
        background-color: #fff;
        flex-wrap: wrap;
    }
}
@media(max-width:500px){
.sec-titlel{
    
    margin: auto;

    font-size: 25px;
    font-style: italic;
    position:relative;
    text-transform: uppercase;
}
    section .father .cart{
        /* padding-top: 50px; */
        width: calc((100% - 40px) / 1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* width: 300px; */
        flex-direction: column;
        height: 450px;
    
    }
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        width: 98%;
        margin: auto;
        gap: 13px;
    }
    section{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 40px;
        
        background-color: #fff;
        flex-wrap: wrap;
    }
}
@media(max-width:350px){
    section .father .cart{
        /* padding-top: 50px; */
        width: calc((100% - 40px) / 1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* width: 300px; */
        flex-direction: column;
        height: 450px;
    
    }
    .father {
        /* width:max-content ; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        width: 98%;
        margin: auto;
        gap: 5px;
    }
    section{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        
        background-color: #fff;
        flex-wrap: wrap;
    }
.sec-titlel{
    
    margin: auto;

    font-size: 40px;
    font-style: italic;
    position:relative;
    text-transform: uppercase;
}
}
